<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head data-th-replace="~{/layouts/header::head}"></head>

<body>
	<script data-th-replace="~{/layouts/header::script}"></script>
	<style data-th-replace="~{/layouts/header::style}"></style>
	<nav data-th-replace="~{/layouts/header::nav}"></nav>
	<header data-th-replace="~{/layouts/header::header}"></header>

	<h3 class="m-3 text-center">Lista de Docentes</h3>

	<a class="m-3 btn btn-success" data-th-href="@{/index}" role="button">Volver al menú principal</a>

	<a class="m-3 btn btn-primary" data-th-href="@{/docentes/nuevo}" role="button">Nuevo Docente</a>
	<a class="m-3 btn btn-info" data-th-href="@{/alumnos/listadealumnos}" role="button">Ir a Alumnos</a>
	<a class="m-3 btn btn-info" data-th-href="@{/materias/listadomaterias}" role="button">Ir a Materias</a>
	<a class="m-3 btn btn-info" data-th-href="@{/carreras/listadocarreras}" role="button">Ir a Carreras</a>
	<div class="d-flex justify-content-center">
		<table class="table table-striped table-hover mx-auto">
			<thead>
				<tr>
					<th scope="col">Legajo</th>
					<th scope="col">Nombre</th>
					<th scope="col">Apellido</th>
					<th scope="col">Email</th>
					<th scope="col">Teléfono</th>
					<th scope="col">Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="docente: ${docentes}">
					<td data-th-text="${docente.legajo}"></td>
					<td data-th-text="${docente.nombre}"></td>
					<td data-th-text="${docente.apellido}"></td>
					<td data-th-text="${docente.email}"></td>
					<td data-th-text="${docente.telefono}"></td>
					<td>
						<a class="btn btn-warning" data-th-href="@{/docentes/modificar/}+${docente.legajo}"
							role="button">Editar</a>
						<a class="btn btn-danger" data-th-href="@{/docentes/eliminar/}+${docente.legajo}"
							role="button">Eliminar</a>
					</td>
				</tr>

				</tr>
			</tbody>
		</table>
	</div>





</body>
<footer data-th-replace="~{/layouts/footer::footer}"></footer>

</html>