<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1, user-scalable=no">

	<title data-th-text="${titulo}"></title>

	<link data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body>
	<script type="text/javascript" data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<style>
		* {
			padding: 0;
			margin: 0;
		}

		.bg-custom {
			background-color: #21618C;
		}

		.titulo-header {
			font-family: serif;
		}

		.subtitulo-header {
			font-family: 'Courier New', Courier, monospace;
		}

		aside {
			border-radius: 5px;
		}

		.imagen {
			border-radius: 5px;
		}

		.btn-custom {
			color: #ffff;
			background-color: #21618C;
			border-color: #21618C;
		}

		.btn-custom:hover {
			color: #ffff;
			background-color: #1A5276;
			border-color: #1A5276;
		}
	</style>



	<nav data-th-replace="~{/layouts/header::nav}"></nav>
	<header data-th-replace="~{/layouts/header::header}"></header>
	

	<div class="row">
		<div class="col-10">

			<section class="principal p-5" id="info">
				<div class="principal-texto1">
					<h2 class=" display-6 fw-bold ">Acerca de la Facultad de Ingeniería</h2>
					<p>La Facultad de Ingeniería de la UNJU es una institución con más de 50 años de trayectoria,
						dedicada a la formación de profesionales altamente calificados en diversas ramas de la
						ingeniería. Desde su fundación en 1970, la Facultad ha consolidado su prestigio como uno de los
						centros de educación superior más reconocidos en el país.</p>
				</div>
				<div class="principal-carreras">
					<h3>Carreras Ofrecidas</h3>

					<ul id="carreras" class="list-unstyled">
						<li>Ingeniería Civil</li>
						<li>Ingeniería Mecánica</li>
						<li>Ingeniería Eléctrica</li>
						<li>Ingeniería de Sistemas</li>
						<li>Ingeniería Química</li>
					</ul>
					<p>Estos programas tienen una duración de 5 años y brindan a los estudiantes una sólida formación
						teórica y práctica, enfocada en el desarrollo de habilidades técnicas, de análisis, de
						resolución de problemas y de liderazgo.</p>
				</div>
				<div class="principal-datos">
					<h3>Datos Relevantes</h3>
					<ul class="list-unstyled">
						<li>Más de 3,000 estudiantes matriculados</li>
						<li>Más de 15,000 ingenieros egresados</li>
						<li>Instalaciones y laboratorios de última generación</li>
						<li>Cuerpo docente altamente calificado</li>
					</ul>
					<p>La Facultad de Ingeniería de la UNJU se ha consolidado como un referente en la educación
						superior,
						comprometida con la excelencia académica, la investigación y la vinculación con el sector
						productivo, para formar líderes que impulsen el progreso y el bienestar de la sociedad.</p>
				</div>
			</section>



		</div>

		<div class=" col-12 col-md-2 px-2">
			<aside class="mt-2 p-4 bg-custom text-white">
				<ul class="nav flex-column">
					<li class="nav-item"> <a class="nav-link text-white" data-th-href="@{/alumnos/listadealumnos}">Alumnos</a> </li>
					<li class="nav-item"> <a class="nav-link text-white" data-th-href="@{/docentes/listadocentes}">Docentes</a> </li>
					<li class="nav-item"> <a class="nav-link text-white" data-th-href="@{/materias/listadomaterias}">Materias</a> </li>					
					<li class="nav-item"> <a class="nav-link text-white" data-th-href="@{/carreras/listadocarreras}">Carreras</a> </li>
				</ul>
			</aside>
		</div>
	</div>

	<section class="noticias p-5" id="noticias">
		<div class="row">
			<h3>Las últimas noticias de la semana</h3>
			<div class="card m-3" style="width: 18rem;">
				<img src="/image/gimnasio-facultad.png" class="card-img-top mt-2" alt="...">
				<div class="card-body">
					<h5 class="card-title">Inaguración del nuevo gimnasio</h5>
					<p class="card-text">Despúes de 6 meses de espera, el nuevo gimnasio de la facultad será inagurado
						el martes.</p>
					<a href="#" class="btn btn-custom">Leer</a>
				</div>
			</div>

			<div class="card m-3" style="width: 18rem;">
				<img src="/image/becas.png" class="card-img-top mt-2" alt="...">
				<div class="card-body">
					<h5 class="card-title">Abren las inscripciones para becas</h5>
					<p class="card-text">Abren las inscripciones para las primeras becas del 2024, enterate de que
						requisitos debes cumplir acá!</p>
					<a href="#" class="btn btn-custom">Leer</a>
				</div>
			</div>

			<div class="card m-3" style="width: 18rem;">
				<img src="/image/reformas.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Nuevo proyecto de ampliación</h5>
					<p class="card-text">La última semana se presentaron algunos proyectos para la ampliación de las
						principales aulas de la facultad, conocé acá cuales son los principales candidatos.</p>
					<a href="#" class="btn btn-custom">Leer</a>
				</div>
			</div>


		</div>
	</section>
	
<footer data-th-replace="~{/layouts/footer::footer}"></footer>
	
</body>

</html>