<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<footer data-th-fragment="footer" class="footer bg-custom text-light py-4" id="contacto">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<h5>Información de contacto</h5>
						<ul class="list-unstyled">
							<li>Dirección: Av. Italo Palanca N°10, San Salvador de Jujuy</li>
							<li>Teléfono: +54 (388) 433-4567</li>
							<li>Correo electrónico: info@fi.unju.edu.ar</li>
						</ul>
					</div>
					<div class="col-md-4 justify-content-center">
						<h5>Redes sociales</h5>
						<ul class="list-unstyled d-flex">
							<li class="me-3"><a href="https://www.facebook.com/fiunju" class="text-light"><i
										class="bi bi-facebook"></i></a></li>
							<li class="me-3"><a href="https://www.instagram.com/fiunju/" class="text-light"><i
										class="bi bi-twitter"></i></a></li>
							<li class="me-3"><a href="https://twitter.com/manucho42" class="text-light"><i
										class="bi bi-instagram"></i></a></li>
							<li class="me-3"><a
									href="https://www.linkedin.com/school/facultad-de-ingenieria-unju/posts/?feedView=all"
									class="text-light"><i class="bi bi-linkedin"></i></a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<h5>Derechos de autor</h5>
						<p>&copy; 2024 Facultad de Ingeniería. Todos los derechos reservados.</p>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>